@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgba(0, 0, 0, 0.616);
    --font-color: #FFFFFF;
}

@font-face {
    font-family: 'inter_tightregular';
    src: url('/fonts/intertight-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/intertight-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "inter_tightregular";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background: url('/img/wallpaper-2.avif') no-repeat center center / cover fixed;
    background-origin: padding-box;
    background-clip: border-box;
    overflow: hidden;
}

.browser-button {
    transition: all 0.3s;
}
