@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: rgba(0, 0, 0, 0.616);
    --font-color: #FFFFFF;
}

@font-face {
    font-family: 'inter_tightregular';
    src: url('./fonts/intertight-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/intertight-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "inter_tightregular";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background: url('./img/wallpaper-2.avif') no-repeat center center / cover fixed;
    background-origin: padding-box;
    background-clip: border-box;
    overflow: hidden;
}

/* .window {
    resize: both;
    position: absolute;
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    height: 300px;
    width: 400px;
    min-height: 180px;
    min-width: 320px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    overflow: auto;
}

.titlebar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: grab;
}

.titlebar::before {
    position: absolute;
    filter: blur(5px);
}

.titlebar-text {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}

.content {
    background-color: var(--primary-color);
    color: var(--font-color);
    overflow: auto;
    padding: 5px;
}

.terminal-main {
    height: 100%;
    width: 100%;
}

.terminal-entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    margin-bottom: 0.25rem;
}

.terminal-output {
    font-weight: 400;
}

.prompt {
    display: flex;
    justify-content: space-around;
    color: var(--primary-color);
    height: 100%;
    gap: 2px;
}

.symbols {
    display: flex;
    justify-content: space-around;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: var(--font-color);
    border-radius: 10px;
    height: 100%;
}

.symbol {
    margin-left: 4px;
    margin-right: 4px;
}

.terminal-input {
    border: 0;
    padding: 2px;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: var(--font-color);
    flex: 1;
    height: 1rem;
}

.close-button {
    margin: 0 5px 0 5px;
    border: 0;
    border-radius: 50%;
    padding: 4px;
    background-color: #5a5e66;
    cursor: pointer;
} */

/* close button */
/* #5a5e66

min-max button
#5b5f67 */