@font-face {
    font-family: 'inter_tightregular';
    src: url('./fonts/intertight-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/intertight-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "inter_tightregular";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background: url('./img/wallpaper-2.avif') no-repeat center center / cover fixed;
    background-origin: padding-box;
    background-clip: border-box;
    overflow: hidden;
}

.window {
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    height: 300px;
    width: 400px;
    min-height: 180px;
    min-width: 320px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    background-color: #22252d;
}

.titlebar {
    display: flex;
    align-items: center;
    background-color: #191c24;
    color: #b2b6bc;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    cursor: grab;
}

.content {
    background-color: #191c24;
    color: #06989a;
    padding: 5px;
}

.terminal-main {
    display: flex;
    /* justify-content: space-between; */
    gap: 4px;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.prompt {
    height: 1rem;
}

.terminal-input {
    margin-top: 2px;
    border: 0;
    padding: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #06989a;
    flex: 1;
    height: 1rem;
}

.close-button {
    margin: 0 5px 0 5px;
    border: 0;
    border-radius: 50%;
    padding: 4px;
    background-color: #5a5e66;
    cursor: pointer;
}

/* close button */
/* #5a5e66

min-max button
#5b5f67 */